@font-face {
  font-family: "iconfont"; /* Project id 3943207 */
  src: url('iconfont.woff2?t=1686402843514') format('woff2'),
       url('iconfont.woff?t=1686402843514') format('woff'),
       url('iconfont.ttf?t=1686402843514') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
  content: "\e63c";
}

.icon-duihuaxinxi:before {
  content: "\e639";
}

.icon-gantanhao:before {
  content: "\e62a";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-diannaopcxianshiqi:before {
  content: "\e76d";
}

.icon-jiahao:before {
  content: "\e84f";
}

.icon-weixin:before {
  content: "\e695";
}

.icon-tongxunlu:before {
  content: "\e6c2";
}

.icon-weixin1:before {
  content: "\e637";
}

.icon-faxian:before {
  content: "\e8af";
}

.icon-wodewo:before {
  content: "\e6df";
}

.icon-zhifeiji:before {
  content: "\e68a";
}

.icon-yingyizhong:before {
  content: "\e853";
}

.icon-yasuobao:before {
  content: "\e61a";
}

.icon-wenjianjia:before {
  content: "\e604";
}

.icon-daimawenjian:before {
  content: "\e606";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-pinglun:before {
  content: "\e612";
}

.icon-xihuan1:before {
  content: "\e61d";
}

.icon-shanchu2:before {
  content: "\e603";
}

.icon-xinlangweibo:before {
  content: "\e602";
}

.icon-resou:before {
  content: "\e7a5";
}

.icon-shizhong:before {
  content: "\e601";
}

.icon-xingxing:before {
  content: "\e646";
}

.icon-xinwen:before {
  content: "\eb42";
}

.icon-jinghao:before {
  content: "\e71a";
}

.icon-sousuo1:before {
  content: "\e626";
}

.icon-diamond:before {
  content: "\e63d";
}

.icon-shouji:before {
  content: "\e600";
}

.icon-dingwei:before {
  content: "\e630";
}

.icon-zuojiantou:before {
  content: "\e65a";
}

.icon-zuojiantou1:before {
  content: "\e61f";
}

.icon-zhifubao:before {
  content: "\e60a";
}

.icon-weixinzhifu:before {
  content: "\e689";
}

.icon-dianchi:before {
  content: "\e605";
}

.icon-phone-signal-full:before {
  content: "\e956";
}

.icon-yuanquankong:before {
  content: "\e60f";
}

.icon-yuanquangouxuan:before {
  content: "\e745";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-shouye:before {
  content: "\e70e";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-xihuan:before {
  content: "\e610";
}

